:root {
  --text-color: #020122;
  --btn-color: #ff521b;
}
h1,
h2 {
  color: #020122;
  font-family: "Bebas Neue", sans-serif;
}
h4,
h5 {
  color: #020122;
  font-family: "Raleway", sans-serif;
}
h1,
h4 {
  text-align: center;
}
h5 {
  line-height: 30px;
  font-size: 16px;
}
body {
  background-color: #f2f3c7;
}
.pahl {
  background-color: #fdae6d;
  text-align: center;
}
.nav {
  background-color: #ecd798;
}
.btn-main {
  background-color: #ff521b;
}
.btn-learn {
  color: var(--btn-color);
  border-color: var(--btn-color);
}
.col-back {
  background-color: var(--text-color);
}
