:root {
  --text-color: #020122;
  --btn-color: #ff521b;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
}
nav li.active a {
  color: var(--btn-color);
}
nav a:hover {
  color: var(--btn-color);
}
h1,
h2,
h3 {
  color: #020122;
  font-family: "Bebas Neue", sans-serif;
}
h4,
h5 {
  color: #020122;
  font-family: "Raleway", sans-serif;
}
h1,
h4 {
  text-align: center;
}
h5 {
  line-height: 30px;
  font-size: 16px;
}
body {
  background-color: #f2f3c7;
}
footer {
  padding: 36px;
  background-color: #fdae6d;
  max-width: 100%;
}
.logo {
  margin: 16px 0 10px 0;
}
.pahl {
  background-color: #fdae6d;
  text-align: center;
}
.nav {
  background-color: #ecd798;
}
.btn-main {
  background-color: #ff521b;
}
.btn-learn {
  color: var(--btn-color);
  border-color: var(--btn-color);
}
.col-back {
  background-color: var(--text-color);
}
.about-section {
  margin: 26px;
}
.email-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--text-color);
  transition: all 250ms ease-in-out;
}
.email-link:hover {
  color: var(--btn-color);
}
.social-media {
  margin: 6px;
}
.social-link {
  margin: 6px;
  padding: 13px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.social-link:hover {
  color: var(--btn-color);
}
.contact-box {
  background-color: #f2f3c7;
  padding: 20px;
  margin-bottom: 16px;
}
